body {
    background-color: #151515;
    color: #ffffff;
   }

.App {
    text-align: center;
    font-size: 100%;
    margin-top: 120px;
  }
  
  .App .item-todo {
    padding: 25px;
    width: 480px;
    margin: 0 auto;
    text-align: left;
    margin-top: 30px;
    background:rgba(85, 149, 106, 1);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .App .item-todo .item-text {
    display: inline-block;
    cursor: pointer;
  }
  
  .App input {
    margin-top: 80px;
    padding: 23px 188px 23px 16px;
    border-radius: 20px 0 0 20px;
    border: 2px solid #55956a;
    outline: none;
  }
  
  .App button {
    margin-top: 80px;
    padding: 25px 50px;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    outline: none;
    background:rgba(85, 149, 106, 1);
    color: #fff;
    text-transform: capitalize;
  }
  
  .App .item-todo .item-delete {
    display: inline-block;
    cursor: pointer;
    float: right;
    font-size: 12px;
    position: relative;
    top: 4px;
    left: -4px;
    bottom: 5px;
  }
  
  .strike {
    text-decoration: line-through;
  }
